# OS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log

# Env files
.env
.env.*
!.env.example

# Build artifacts
dist/
build/
coverage/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
.venv/

# Node
node_modules/
